doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/css/main.css')
    meta(name="viewport",content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="author",content="xCss xioveliu@gmail.com")
    meta(name="keywords",content="JsonBird,数据代理服务,数据接口代理,远程数据接口代理,远程接口,服务,A Remote Data Interface Proxy Service,CORS")
    meta(name="description",content="业界领先的远程数据接口代理服务")
    link(rel="shortcut icon",href="/static/images/favicon.ico")
    link(rel="bookmark",href="/static/images/favicon_72.ico")
    link(rel="apple-touch-icon",href="/static/images/fav_72x72.png")
    link(rel="apple-touch-icon",sizes="16x16",href="/static/images/fav-16x16.png")
    link(rel="apple-touch-icon",sizes="36x36",href="/static/images/fav-36x36.png")
    link(rel="apple-touch-icon",sizes="72x72",href="/static/images/fav-72x72.png")
    script(src="/static/js/jquery.min.js")
    script(src="/static/js/skel.min.js")
    script(src="/static/js/util.js")
    script(src="/static/js/main.js")

  body
    block content
