doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/css/style.css')
    meta( name="viewport",content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
  body
    block content
