doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/css/style.css')
    meta(name="viewport",content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="author",content="xCss xioveliu@gmail.com")
    meta(name="keywords",content="AgentBird,API代理服务,API接口代理,远程接口代理,代理,接口,Agent Remote apis")
    meta(name="description",content="业界领先的远程接口代理服务")
  body 
    block content
