doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/css/style.css')
    link(rel='stylesheet', href='/static/css/test.css')
    meta( name="viewport",content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    meta( name="author",content="xCss xioveliu@gmail.com")
  body 
      h1= title
      p Welcome to #{title}

