extends layout

block content
    header#header
        div.inner
            a.logo(href='/') #{head}
            nav#nav
                a(href='/') 首页
                a(href='https://jsfiddle.net/LNing/duL5Lby7/',target="_blank") 示例
                a(href='#interface') 数据接口
                a(href='https://github.com/xCss/JsonBird/wiki',target="_blank") 接口文档
                a(href='https://github.com/xCss/JsonBird',target="_blank") Github
            a.navPanelToggle(href='#navPanel')
                span.fa.fa-bars
    section#banner
        div.inner
            header
                h1 Welcome to #{head}
                p #{description}<br>#{address}
            div.flex
                div
                    span.icon.fa-bolt
                    h3 Fast
                    p 专业线路，极限速度
                div
                    span.icon.fa-lock
                    h3 Safe
                    p 全站 HTTPS，保证数据安全
                div
                    span.icon.fa-arrows
                    h3 Multiple
                    p 多种接口，自由选择
            footer.flex
                div
                    a.button(href='#interface') 数据接口
                div
                    a.button(href="/v1?url=http://www.bing.com/HPImageArchive.aspx?format=js&idx=0&n=1",target="_blank") 快速开始
    section#interface.wrapper
        div.inner
            h4 目前已经实现的接口:
            div.table-wrapper
                table.alt
                    thead
                        tr
                            th(width="200") 接口名称
                            th 接口地址
                            th 请求方式
                    tbody
                        tr
                            td 数据代理
                            td https://bird.ioliu.cn/v1
                            td GET/POST
                        tr
                            td 笑话
                            td https://bird.ioliu.cn/joke
                            td GET/POST
                        tr
                            td IP 地址
                            td https://bird.ioliu.cn/ip
                            td GET/POST
                        tr
                            td 天气查询
                            td https://bird.ioliu.cn/weather
                            td GET/POST
                        tr
                            td 号码归属地
                            td https://bird.ioliu.cn/mobile
                            td GET/POST
                        tr
                            td 网易云音乐<br>(歌曲/歌单)
                            td https://bird.ioliu.cn/netease
                            td GET/POST


    
    footer#footer
        div.inner
            div.copyright &copy; 2016  
                a(href='https://ioliu.cn',target="_blank") 云淡风轻 



    script.
        window.onload = function(){
            //- baidu Analytics
            if(!/^http:\/\/localhost/.test(location.href)){
                var _hmt = _hmt || [];
                var hm = document.createElement("script");
                if(/ioliu/.test(location.href)){
                    hm.src = "//hm.baidu.com/hm.js?930e83393fcca01f1abff14df21cec12";
                }else{
                    hm.src = "//hm.baidu.com/hm.js?9b00cc8218f3159497e6207cee8dd0c6";
                }
                var s = document.getElementsByTagName("script")[0]; 
                s.parentNode.insertBefore(hm, s);
            }
        };
