@import 'reset.css';
html,
body {
    height: 100%;
    overflow: hidden;
    background: -webkit-linear-gradient(300deg, #23213d, #2e383f);
    background: linear-gradient(150deg, #23213d, #2e383f);
}

.section-center {
    display: -webkit-box;
    /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
    display: -moz-box;
    /* OLD: Firefox (buggy) */
    display: -ms-flexbox;
    /* MID: IE 10 */
    display: -webkit-flex;
    /* NEW, Chrome 21–28, Safari 6.1+ */
    display: flex;
    /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */
    -webkit-box-align: center;
    -moz-box-align: center;
    /* OLD… */
    -ms-flex-align: center;
    /* You know the drill now… */
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
    /* needed for Firefox */
    position: absolute;
    text-align: center;
}

.section-center .container {
    width: 100%;
    color: #fff;
}

.section-center .container .cover {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}

.section-center .container .heading {
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    font-weight: 100;
    font-size: 4.5rem;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.65;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn+.btn {
    margin-left: 15px;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none;
}

.btn-ghost-light {
    padding: 8px 32px;
}

.btn-ghost-light,
.btn-ghost-light:focus {
    border: 1px solid #fff;
    background-color: rgba(155, 163, 175, 0);
    color: #fff;
}

.btn-ghost-light:hover {
    background-color: rgba(155, 163, 175, .1);
    color: #fff;
}